body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    background-color: #E0E3FF;

    font-family: Arial, Helvetica, sans-serif;

}

.titulo-app{
    padding-top: 20px;
    text-align: center;
}

.descricao_app{
    text-align: center;
    padding-bottom: 50px;
}

.conteinar-cartao{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.cartao{
    border: 1px solid #C9CCE5;
    border-radius: 70px;
    background-color: #C9CCE5;
    width: 350px;
    height: 280px;
    
    padding-top: 45px;
    padding-left: 50px;

    margin-left: 0px;
}

.cartao>img{

    height: 80px;
}

.cartao>.titulo-image{
    padding-top: 20px;
}

.cartao>.descricao-image{
    padding-top: 5px;
}